*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: auto;
  background-image: url(../image/Consultorio.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65%, 100%;
}

/* ---Barra de navegacion--- */
nav{
    display: flex;
    border-radius: 20px;
    background-color: rgba(247, 244, 244, 0.562);
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 1);
}

.person{
    margin-top: 5px;
    margin-left: 5px;
}

nav h1{
    font-size: 20px;
    margin-left: auto;
    margin-left: auto;
}

.searchh{
    margin-left: 50px;
    margin-right: 20px;
}

.menu{
    margin-right: 10px;
}

/* ---Agragar paciente y Citas--- */

.opciones{
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    display: flex;
    background: rgba(247, 244, 244, 0.562);
}

.opciones button{
    background-color: transparent;
    border: none;
    margin: 10px;
    font-size: 19px;
}

.tabla{
    margin-top: 20px;
    justify-content: center;
    margin-left: 10px;
}

.sup{
    padding: 5px;
}