*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: auto;
  background-image: url(../image/Consultorio.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65%, 100%;
}

/* --- Barra de navegacion --- */
nav{
    display: flex;
    border-radius: 20px;
    background-color: rgba(247, 244, 244, 0.562);
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 1);
    justify-content: center;
    align-items: center;
}

.person{
    margin-top: 5px;
    margin-right: auto;
}

nav h1{
    font-size: 20px;
    margin-right: auto;
}

/* --- Formulario --- */
.contenedor{
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 45;
    height: 100vh;
    width: 80%;
}

/* --- Expediente ---*/
.contenedor h1{
    text-align: center;
}

.expediente{
    margin-top: 20px;
}

.expediente input{
    background-color: rgba(247, 244, 244, 0.562);
    border: none;
    border-radius: 20px;
}

.expediente i{
    margin-left: 10px;
}

.contenedor_expediente{
    padding: 7px;
    border: none;
    border-radius: 20px;
    width: 100%;
    background-color: rgba(247, 244, 244, 0.562);
}

/* --- Nombre del paciente ---*/
.contenedor_nombre_paciente{
    margin-top: 15px;
}

.contenedor_nombre_paciente i{
    margin-left: 10px;
}

.nombre_paciente{
    padding: 7px;
    border: none;
    border-radius: 20px;
    width: 100%;
    background-color: rgba(247, 244, 244, 0.562);
}

/* --- Fecha ---*/
.fecha_nacimiento{
    margin-top: 15px;
}

.fecha_nacimiento i{
    margin-left: 10px;
}

.fecha{
    padding: 7px;
    width: 100%;
    justify-content: center;
    border: none;
    border-radius: 20px;
    background-color: rgba(247, 244, 244, 0.562);
}

.resultadoo{
    margin-top: 20px;
}

/* --- Direccion ---*/
.direccion{
    margin-top: 20px;
}

.direccion i{
    margin-left: 10px;
}

.direc{
    padding: 7px;
    border: none;
    border-radius: 20px;
    width: 100%;
    background-color: rgba(247, 244, 244, 0.562);
}

/* --- Telefono ---*/
.tel{
    margin-top: 20px;
}

.tel i{
    margin-left: 10px;
}

.tell{
    padding: 7px;
    border: none;
    border-radius: 20px;
    width: 100%;
    background-color: rgba(247, 244, 244, 0.562);
}

/* --- Genero --- */
.generoo{
    background-color: rgba(247, 244, 244, 0.562);
    border: none;
    border-radius: 20px;
    margin-right: 15px;
    margin-top: 15px;
    padding: 3px;
}

/* --- Embarazo --- */
.mujer{
    display: none;
}

/* --- Grupo Sanguineo --- */
.sanginioo{
    background-color: rgba(247, 244, 244, 0.562);
    border: none;
    border-radius: 20px;
    margin-top: 15px;
    padding: 3px;
}

/* --- Ocupacion --- */
.ocup{
    margin-top: 15px;
}

.ocup i{
    margin-left: 10px;
}

.ocupacion{
    padding: 7px;
    border: none;
    border-radius: 20px;
    background-color: rgba(247, 244, 244, 0.562);
    width: 100%;
}

/* --- Escolaridad --- */
.escolaridad{
    margin-top: 15px;
}

.escuela{
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    padding: 3px;
    background-color: rgba(247, 244, 244, 0.562);
}

/* --- Estado Civil --- */
.Estado{
    margin-top: 15px;
}

.civil{
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    padding: 3px;
    background-color: rgba(247, 244, 244, 0.562);
}

/* --- Boton --- */
.boton{
    display: flex;
    justify-content: center;
}
.Agregar{
    border: none;
    background-color: transparent;
    margin-top: 20px;
    padding: 3px;
    font-size: 16px;
}